/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUNDO COM PATINHAS */
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #fce7f3, #e0f2fe);
  color: #334155;

  display: flex;
  justify-content: center;

  min-height: 100vh;
  padding: 20px;
  overflow-y: auto;

  position: relative;
}

/* PATINHAS NO FUNDO */
body::before {
  content: "🐾 🐾 🐾 🐾 🐾 🐾";
  position: fixed;
  font-size: 30px;
  opacity: 0.05;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 25px;
  border-radius: 25px;

  box-shadow: 0 15px 30px rgba(0,0,0,0.1);

  margin-top: 20px;
  margin-bottom: 20px;

  animation: subir 0.5s ease;
}

/* ANIMAÇÃO */
@keyframes subir {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* TÍTULO */
h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #ec4899;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* LABEL */
label {
  margin-top: 10px;
  font-size: 14px;
  color: #475569;
}

/* INPUTS */
input, select {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #cbd5f5;
  background: #f8fafc;
  transition: 0.2s;
}

/* FOCO */
input:focus, select:focus {
  outline: none;
  border: 2px solid #ec4899;
  background: #fff;
}

/* ERROS */
.erro {
  color: #ef4444;
  font-size: 12px;
}

.erroInput {
  border: 2px solid #ef4444 !important;
}

/* BOTÃO */
button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: linear-gradient(135deg, #ec4899, #f472b6);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

/* HOVER FOFO */
button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(236,72,153,0.4);
}

/* LINK */
.link {
  display: block;
  text-align: center;
  margin-top: 12px;
  color: #0ea5e9;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

/* LISTA */
ul {
  list-style: none;
}

li {
  background: #fdf2f8;
  margin-top: 10px;
  padding: 12px;
  border-radius: 15px;
  border-left: 6px solid #f472b6;

  transition: 0.2s;
}

/* EFEITO CARD */
li:hover {
  transform: scale(1.02);
}

/* BOTÕES LISTA */
li button {
  margin-top: 5px;
  margin-right: 5px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #e2e8f0;
}

li button:hover {
  background: #cbd5f5;
}

/* STATUS */
.aprovado {
  color: #16a34a;
  font-weight: bold;
}

.reprovado {
  color: #dc2626;
  font-weight: bold;
}

.analise {
  color: #f59e0b;
  font-weight: bold;
}

/* DETALHES */
#detalhes {
  margin-top: 15px;
  line-height: 1.6;
}

/* BOTÕES */
.botoes {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.botoes button {
  flex: 1;
}

.botoes button:disabled {
  opacity: 0.5;
}